# Flutter/Dart/Pub
.dart_tool/
.packages
pubspec.lock
build/
coverage/

# IDE
.idea/
.vscode/
*.iml

# iOS/Android/macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/Flutter.podspec

android/.gradle/
android/local.properties

macos/Pods/
macos/Flutter/Flutter.framework
macos/Flutter/GeneratedPluginRegistrant.swift

# Logs
*.log

# Local/system files
.DS_Store
.metadata
.flutter-plugins-dependencies

# Local secrets
tools/translation_server/.env
tools/translation_server/.env.save
